@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@media (min-width:200){
    #text-p{
        
    }
    section{
        
        font-size: 3vw;
    }

    div#barra_de_menu{
        width: fit-content;
        width: 90vw;
        position: relative;
        bottom: 15px;
        margin: 1px;
        text-align: center;
       

    
        
    }
    body{
        height: 100vh;
    }

    
   


}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(133, 130, 130);
    background-image: url(/Imagens/fisica\ logo.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    
    
    
    
}

div#text-p{
    color: rgb(0, 0, 0);
    border: 2px solid rgba(237, 253, 3, 0.973);
    align-content: center;
    display: block;
    position: relative;
    bottom: 9px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin-top: -10px;
    
    
}


nav#menu-geral{
    width: 98vw;
    background-color: rgba(217, 218, 226, 0.836);
    display: flex;
    position: relative;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    top: 15px;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    
    
    
    
    margin: auto;
    
    
    


}
div#barra_de_menu > a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: black;
    float: left;
    position: relative;
    padding: 5px;
    border: 1px solid;
    margin-left: 10px;
    font-size: 1.2vw;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: -13px;
    
    
 
}

div#barra_de_menu > a:hover{
    border: 1px solid yellow;
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 0px 7px  rgb(201, 223, 10);
}


section{
    width: 600px;
    height: 430px ;
    display: flex;
    text-align: justify;
    position: relative;
    top:0;
    background-color: rgb(243, 243, 243);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 7%;
    display: block;
    box-shadow: 0px 0px 5px  rgb(214, 212, 212);
}

h2{
    padding-bottom: 10px;

}

p{
    text-align: justify;
    text-indent: 2px;
}


#introdução{
    width: 500px;
    height: 500px;
    text-align: justify;
    border-radius: 2000px;
    padding: 75px;
    font-size: 14px;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.89);
    color: rgb(247, 244, 244);

}

#b_texto-02{
    padding: 10px;
    border: 1px solid yellow;
    font-size: 14px;
    box-shadow: 0px 0px 5px  rgb(214, 212, 212);
}
#foto{
    position: relative;
    left: 40%;

}

#luz{
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    height: 80vh;
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    margin: auto;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    scrollbar-width: 1px;
    padding: 25px;
    margin: 15px;
    text-indent: 2px;
    


}
::-webkit-scrollbar{
    width: 0px;
}

p{
    text-align: justify;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    background-image: linear-gradient(to left, rgba(231, 231, 231, 0.678), rgba(116, 113, 113, 0.76));
    padding: 1px;
}



img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border:1px solid yellow;
    display: flex;
    position: relative;
    margin: 15px;
}

#container{
    display: flex;
    text-align: justify;
    width: 90vw;
    padding: 15px;
    word-wrap: break-word;
    font-size: 15px;
    padding-right: 180px;
    
}


#coluna1{
    flex: 1;
    color: rgb(11, 11, 12);
    
    
    
    
}

#linha{
    width: 1100px;
    border: 2px solid rgb(85, 85, 82);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

#video{
    position: relative;
    display: flex;
    width: 560px;
    left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid yellow;
    box-shadow: 0px 0px 5px  rgb(238, 255, 0);
}


dt{
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(82, 82, 82), rgb(237, 237, 240));
    width: 400px;
    padding: 2px;
    margin: 10px;
}

dd{
    text-align: justify;
    width: 700px;
    float: flex;
}

#prova{
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 0px 5px  rgb(32, 32, 32);
    width: 800px;
    height: 690px;
    position:absolute;
    left: 50%;
    top:73%;
    transform: translate(-50%, -50%);
}

#questao{
    padding: 10px;
    text-align: justify;
    border: 1px solid yellow;
    margin: 10px;
    width: 700px;
    position: relative;
    left: 5%;
    top: 2%;
}

input#enviar{
    margin:10px;
    position: relative;
    left: 5%;
    
}


