@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@media (max-width:850px){
    div#text-p{
        font-size: 9px;
        text-align: center;
    }

    div#barra_de_menu{
        width: fit-content;
        width: 70vw;
        position: relative;
        bottom: 15px;
        margin: 1px;
        text-align: center;
       

    
        
    }


}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(133, 130, 130);
    background-image: url(/Imagens/fisica\ logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

div#text-p{
    color: rgb(0, 0, 0);
    border: 3px solid rgba(237, 253, 3, 0.973);
    align-content: center;
    display: flex;
    position: relative;
    bottom: 13px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}


nav#menu-geral{
    width: 90vw;
    background-color: rgb(217, 218, 226);
    display: flex;
    position: relative;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    top: 15px;
    width: 90%;
    height: 12vh;
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    
    
    
    
    margin: auto;
    
    
    


}
div#barra_de_menu > a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: black;
    float: left;
    position: relative;
    padding: 5px;
    border: 1px solid;
    margin-left: 10px;
    font-size: 11px;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    
    
 
}

div#barra_de_menu > a:hover{
    border: 1px solid yellow;
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 0px 7px  rgb(201, 223, 10);
}


section{
    width: 70vw;
    text-align: justify;
    position: relative;
    top:0;
    background-color: rgb(243, 243, 243);
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    margin-top: 7%;
    display: block;
    box-shadow: 0px 0px 5px  rgb(214, 212, 212);
}

h2{
    padding-bottom: 10px;

}

p{
    text-align: justify;
    text-indent: 2px;
}